{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap-table-1.21.1.min.css') }}">
{{super()}}
{% endblock %}

{% block content %}
<div class="container">
    <table id="logtable" data-mobile-responsive="true" data-toggle="table">
        
        <thead>
          <tr>
            <th data-field="name" data-sortable="true">文件名称</th>
            <th data-field="format" data-sortable="true">type</th>
            <th data-field="size" data-sortable="true">size (MB)</th>
            <th data-field="actions" data-formatter="actionFormatter" data-events="operateEvents">actions</th>
            
          </tr>
        </thead>
      </table>
</div>

<!-- The delete Modal dialog box-->
<div class="modal" id="deleteModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">注意</h4>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body text-center ">你真的要删除这个文件？<p id="filename" class="font-weight-bold"></p>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer mx-auto"> <button id="confirm-delete-button" type="button" class="btn btn-danger" data-dismiss="modal">删除</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button> </div>
        
      </div>
    </div>
  </div>

<!-- The edit Modal dialog box-->
<div class="modal" id="editModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">将RAW文件存档（ ZIP ）转换为rinex文件</h4>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        
         <!-- Modal body -->
         <div class="modal-body text-center ">
            <div class="rinex-table" role="tabpanel">
              <div class="row">
                <div class="col-4">
                  <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-rinex-ign" data-toggle="tab" href="#detail-rinex-ign" role="tab" aria-controls="detail-rinex-ign" data-rinex-preset="rinex_ign">Ign</a>
                    <a class="list-group-item list-group-item-action" id="list-rinex-nrcan" data-toggle="tab" href="#detail-rinex-nrcan" role="tab" aria-controls="detail-rinex-nrcan" data-rinex-preset="rinex_nrcan">Nrcan</a>
                    <a class="list-group-item list-group-item-action" id="list-rinex-full_30s" data-toggle="tab" href="#detail-rinex-full_30s" role="tab" aria-controls="detail-rinex-full_30s" data-rinex-preset="rinex_30s_full">Full 30s</a>
                    <a class="list-group-item list-group-item-action" id="list-rinex-full_1s" data-toggle="tab" href="#detail-rinex-full_1s" role="tab" aria-controls="detail-rinex-full_1s" data-rinex-preset="rinex_1s_full">Full 1s</a>
                  </div>
                </div>
                <div class="col-8">
                  <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active text-left" id="detail-rinex-ign" role="tabpanel" aria-labelledby="list-rinex-ign">
                      <ul><li>版本 2.11</li><li>仅GPS</li><li>L1/L2</li><li>时间间隔： 30秒</li><li>preset for <a href="http://rgp.ign.fr/SERVICES/calcul_online.php" target="_blank">Ign</a> service</li></ul>
                    </div>
                    <div class="tab-pane fade text-left" id="detail-rinex-nrcan" role="tabpanel" aria-labelledby="list-rinex-nrcan">
                      <ul><li> 版本 3.04</li><li>GPS + Glonass</li><li>L1/L2</li><li>时间间隔： 30秒</li><li>preset for <a href="https://webapp.csrs-scrs.nrcan-rncan.gc.ca/geod/tools-outils/ppp.php" target="_blank">Nrcan</a> service</li></ul>
                    </div>
                    <div class="tab-pane fade text-left" id="detail-rinex-full_30s" role="tabpanel" aria-labelledby="list-rinex-full_30s">
                      <ul><li> 版本 3.04</li><li>所有受支持的GNSS星座</li><li>所有支持的频率</li><li>时间间隔： 30秒</li></ul>
                    </div>
                    <div class="tab-pane fade text-left" id="detail-rinex-full_1s" role="tabpanel" aria-labelledby="list-rinex-full_1s">
                      <ul><li> 版本 3.04</li><li>所有受支持的GNSS星座</li><li>所有支持的频率</li><li>时间间隔： 1秒</li></ul>
                    </div>
                    <div><button type="button" id="create-rinex-button" class="btn btn-primary">创建Rinex文件</button></div>

                  </div>
                </div>
              </div>
            </div>
          <div id="rinex-conversion-msg"></div>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer mx-auto"><button id="edit-button" type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button></div>
        
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
{{super()}}
<script type="text/javascript" src="{{ url_for('static', filename='lib/bootstrap-table-1.21.1.min.js') }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/bootstrap-table-mobile-1.21.1.min.js') }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for('static', filename='logs.js', v=g.version) }}" charset="utf-8"></script>

{% endblock %}