{% extends 'base.html' %}

{% block styles %}
{{super()}}
<style>
.form-control::placeholder {
  color: gray;
  opacity: 0.6;
  font-style: italic;
}
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap4-toggle.css') }}">

{% endblock %}

{% block content %}
<div class="container">
<h4>功能:</h4>
<!-- ######## Main Service ########-->
  <div id="main_service_space" class="form-group row pt-3 pb-3">
    <div class="col"> <label for="main-switch" class="col-4 col-form-label col-form-label-lg">主要服务</label>
    <input id="main-switch" type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="outline-secondary">
    <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#{{ main_settings[0].source_section }}" aria-expanded="false" aria-controls="main_service_options">选项</button>
    <a role="button" data-toggle="tooltip" title="此服务管理与GNSS接收器的连接。 你可以在此处设置其参数。这是强制性的，所有其他服务都依赖于此。"> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#6c757d" class="bi bi-info-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
      </svg>
    </a>
    </div>
  </div>
      <form id="{{ main_settings.pop(0).source_section }}" class="collapse was-validated">

        <div class="form-group row">
        <label for="position" class="col-sm-3 col-form-label">基站 坐标: </label>
        <div class="col-sm-9"> <input id="position" type="text" name="position" class="form-control" aria-describedby="positionHelp" placeholder="纬度、经度、高程" value="{{ main_settings[0].position }}" pattern="-?\d{1,3}\.\d+[\s]-?\d{1,3}\.\d+[\s][\-+]?\d+\.\d{2,6}" required>
            <small class="form-text text-muted" id="positionHelp">天线坐标：纬度（十进制度）经度（十进制度）海拔（米）</small> </div>
    </div>
    <div class="form-group row"> <label for="com_port" class="col-sm-3 col-form-label">Com端口： </label> <div class="col-sm-6"> <input id="com_port" type="text" name="com_port" class="form-control" aria-describedby="com_portHelp" placeholder="ttyGNSS" value="{{ main_settings[1].com_port }}" pattern="\w+[^\|&gt;&lt;\/\s]*" required>
            <small class="form-text text-muted" id="com_portHelp">Gnss接收器com端口（不带/dev/）</small> </div>
        <div class="col-sm-3 dropdown"> <button class="btn btn-secondary dropdown-toggle float-right" type="button" id="dropdowndetect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="尝试检测 / 配置GNSS接收器。 它仅适用于USB GNSS接收器">检测/配置</button> <div class="dropdown-menu" aria-labelledby="dropdowndetect"> <a class="dropdown-item" id="detect_receiver_button" role="button">检测</a>
            <a class="dropdown-item" id="configure_receiver_button" role="button">配置</a>
            <a class="dropdown-item" id="detect_and_configure_receiver_button" role="button">检测和配置</a> </div>
        </div>
    </div>
    <div class="form-group row"> <label for="com_port_settings" class="col-sm-3 col-form-label">Com端口设置： </label> <div class="col-sm-9"> <input id="com_port_settings" type="text" name="com_port_settings" class="form-control" aria-describedby="com_port_settingsHelp" placeholder="115200:8:n:1" value="{{ main_settings[2].com_port_settings }}" pattern="\w[^\|&gt;&lt;\/\s]*" required>
            <small class="form-text text-muted" id="com_port_settingsHelp">Com端口设置：波特率：数据位：奇偶校验：停止位：流量控制</small> </div>
    </div>
    <div class="form-group row">

        <label for="receiver" class="col-sm-3 col-form-label">接收器类型: </label>
        <div class="col-sm-9"> <input id="receiver" type="text" name="receiver" class="form-control" aria-describedby="receiverHelp" placeholder="接收器品牌和型号" value="{{ main_settings[3].receiver }}" title="Gnss接收器品牌和型号" pattern="\w[^\|&gt;&lt;\/\s]*" required>
            <small class="form-text text-muted" id="receiverHelp">Gnss接收器品牌和型号</small> </div>
    </div>
    <div class="form-group row"> <label for="receiver_format" class="col-sm-3 col-form-label">接收器格式： </label> <div class="col-sm-9"> <input id="receiver_format" type="text" name="receiver_format" class="form-control" aria-describedby="receiver_formatHelp" placeholder="接收器格式" value="{{ main_settings[5].receiver_format }}" pattern="\w[^\|&gt;&lt;\/\s]*" required>
            <small class="form-text text-muted" id="receiver_formatHelp">Gnss接收器格式（ ubx、sbf、stq、rtcm3、tersus等）</small> </div>

    </div>
    <div class="form-group row"> <label for="antenna_info" class="col-sm-3 col-form-label">天线信息： </label> <div class="col-sm-9"> <input id="antenna_info" type="text" name="antenna_info" class="form-control" aria-describedby="antenna_infoHelp" placeholder="ADVNULLANTENNA" value="{{ main_settings[6].antenna_info }}" pattern="\w[^\|&gt;&lt;\/\s]*" required>
          <small class="form-text text-muted" id="antenna_infoHelp">ADVNULLANTENNA或IGS校准天线的信息（型号、序列号）</small> </div>

  </div>
    <div class="form-group row"> <label for="tcp_port" class="col-sm-3 col-form-label">TCP端口： </label> <div class="col-sm-9"> <input id="tcp_port" type="text" name="tcp_port" class="form-control" aria-describedby="tcp_portHelp" placeholder="5015" value="{{ main_settings[7].tcp_port }}" pattern="[0-9]{4,5}" required>
            <small class="form-text text-muted" id="tcp_portHelp">本地TCP端口</small> </div>

    </div>
          <div class="clearfix"> <button type="submit" class="btn btn-primary float-right" disabled>保存</button> </div>
      </form>

<!-- ######## Ntrip A Service ########-->
  <div id="ntrip_A_service_space" class="form-group row">
    <div class="col"> <label for="ntrip_A-switch" class="col-4 col-form-label col-form-label-lg">Ntrip A服务</label>
    <input id="ntrip_A-switch" type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="outline-secondary">
    <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#{{ ntrip_A_settings[0].source_section }}" aria-expanded="false" aria-controls="ntrip_A_service_options">选项</button>
    <a role="button" data-toggle="tooltip" title="此服务将 rtcm 消息发送到 Ntrip （broad）caster 服务器，如 rtk2go、centipede 或其他。"> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#6c757d" class="bi bi-info-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
      </svg>
    </a>
    </div>
  </div>
    <form id="{{ ntrip_A_settings.pop(0).source_section }}" class="collapse was-validated">
      <div class="form-group row">
        <label for="svr_addr_A" class="col-sm-3 col-form-label">Caster 地址: </label>
        <div class="col-sm-9">
            <input id="svr_addr_A" type="text" name="svr_addr_A" class="form-control" aria-describedby="svr_addr_AHelp" placeholder="opencaster.cnostar.com" value="{{ ntrip_A_settings[0].svr_addr_A }}" pattern="\w+[^\|&gt;&lt;\s]*" required>
<small class="form-text text-muted" id="svr_addr_AHelp">Caster url 地址</small>
        </div>
      </div>
      <div class="form-group row">
        <label for="svr_port_A" class="col-sm-3 col-form-label">Caster 端口: </label>
        <div class="col-sm-9"> 
            <input id="svr_port_A" type="text" name="svr_port_A" class="form-control" aria-describedby="svr_port_AHelp" placeholder="2101" value="{{ ntrip_A_settings[1].svr_port_A }}" pattern="[0-9]{4,5}" required>
            <small class="form-text text-muted" id="svr_port_AHelp">Caster 端口</small>
         </div>
      </div>
      <div class="form-group row">
        <label for="svr_pwd_A" class="col-sm-3 col-form-label">Caster 密码: </label>
        <div class="col-sm-9">
          <div class="input-group">
            <input id="svr_pwd_A" type="password" name="svr_pwd_A" class="form-control" aria-describedby="svr_pwd_AHelp" placeholder="输入密码" value="{{ ntrip_A_settings[2].svr_pwd_A }}" required>
              <span class="input-group-append">
                <button class="btn btn-outline-secondary" id="svr_pwd_A_button" type="button">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                    <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/>
                    <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"/>
                    <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z"/>
                  </svg>
                </button>
              </span>
            </div>
        <small class="form-text text-muted" id="svr_pwd_AHelp">Caster 密码: </small>
        </div>
      </div>
      <div class="form-group row">
        <label for="mnt_name_A" class="col-sm-3 col-form-label">Mount 名称: </label>
        <div class="col-sm-9">
            <input id="mnt_name_A" type="text" name="mnt_name_A" class="form-control" aria-describedby="mnt_name_AHelp" value="{{ ntrip_A_settings[3].mnt_name_A }}" pattern="[a-zA-Z\d_\-]+" required>
            <small class="form-text text-muted" id="mnt_name_AHelp">Mount 名称</small>
       </div>
      </div>
      <div class="form-group row"> <label for="rtcm_msg_A" class="col-sm-3 col-form-label">Rtcm消息： </label> <div class="col-sm-9"> <input id="rtcm_msg_A" type="text" name="rtcm_msg_A" class="form-control" aria-describedby="rtcm_msg_AHelp" placeholder="1004,1005(10),1006,1008(10),1012,1019,1020,1033(10),1042,1045,1046,1077,1087,1097,1107,1127,1230" value="{{ ntrip_A_settings[4].rtcm_msg_A }}" pattern="[0-9,\(\).]+" required>
            <small class="form-text text-muted" id="rtcm_msg_AHelp">Rtcm消息列表： msg （以秒为单位的间隔）、msg （以秒为单位的间隔）、...</small> </div>
      </div>
      <div class="form-group row"> <label for="ntrip_A_receiver_options" class="col-sm-3 col-form-label">接收器选项： </label> <div class="col-sm-9"> <small class="form-text text-muted" id="ntrip_A_receiver_optionsHelp">依赖于接收器的选项，例如U-Blox F9P的-TADJ = 1 </small>

           <input id="ntrip_A_receiver_options" type="text" name="ntrip_A_receiver_options" aria-describedby="ntrip_A_receiver_optionsHelp" class="form-control" value="{{ ntrip_A_settings[5].ntrip_A_receiver_options }}" pattern="[^\|><\/]*"> </div>
      </div>      

        <div class="clearfix"> <button type="submit" class="btn btn-primary float-right" disabled>保存</button> </div>
    </form>

  <!-- ######## Ntrip B Service ########-->
  <div id="ntrip_B_service_space" class="form-group row">
    <div class="col"> <label for="ntrip_B-switch" class="col-4 col-form-label col-form-label-lg">Ntrip B 服务</label>
    <input id="ntrip_B-switch" type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="outline-secondary">
    <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#{{ ntrip_B_settings[0].source_section }}" aria-expanded="false" aria-controls="ntrip_B_service_options">选项</button>
    <a role="button" data-toggle="tooltip" title="此服务将 rtcm 消息发送到 Ntrip （broad）caster 服务器，如 rtk2go、centipede 或其他。"> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#6c757d" class="bi bi-info-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
      </svg>
    </a>
    </div>
  </div>
    <form id="{{ ntrip_B_settings.pop(0).source_section }}" class="collapse was-validated">
      <div class="form-group row">
        <label for="svr_addr_B" class="col-sm-3 col-form-label">Caster 地址: </label>
        <div class="col-sm-9">
            <input id="svr_addr_B" type="text" name="svr_addr_B" class="form-control" aria-describedby="svr_addr_BHelp" placeholder="opencaster.cnostar.com" value="{{ ntrip_B_settings[0].svr_addr_B }}" pattern="\w+[^\|&gt;&lt;\s]*" required>
<small class="form-text text-muted" id="svr_addr_BHelp">Caster url 地址</small>
        </div>
      </div>
      <div class="form-group row">
        <label for="svr_port_B" class="col-sm-3 col-form-label">Caster 端口: </label>
        <div class="col-sm-9">
            <input id="svr_port_B" type="text" name="svr_port_B" class="form-control" aria-describedby="svr_port_BHelp" placeholder="2101" value="{{ ntrip_B_settings[1].svr_port_B }}" pattern="[0-9]{4,5}" required>
            <small class="form-text text-muted" id="svr_port_BHelp">Caster port</small>
      </div>
      </div>
      <div class="form-group row">
        <label for="svr_pwd_B" class="col-sm-3 col-form-label">Caster 密码: </label>
        <div class="col-sm-9">
          <div class="input-group">
            <input id="svr_pwd_B" type="password" name="svr_pwd_B" class="form-control" aria-describedby="svr_pwd_BHelp" placeholder="输入密码" value="{{ ntrip_B_settings[2].svr_pwd_B }}" required>
              <span class="input-group-append">
                <button class="btn btn-outline-secondary" id="svr_pwd_B_button" type="button">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                    <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/>
                    <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"/>
                    <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z"/>
                  </svg>
                </button>
              </span>
            </div>
        <small class="form-text text-muted" id="svr_pwd_BHelp">Caster 密码: </small>
        </div>
      </div>
      <div class="form-group row">
        <label for="mnt_name_B" class="col-sm-3 col-form-label">Mount 名称: </label>
        <div class="col-sm-9">
            <input id="mnt_name_B" type="text" name="mnt_name_B" class="form-control" aria-describedby="mnt_name_BHelp" value="{{ ntrip_B_settings[3].mnt_name_B }}" pattern="[a-zA-Z\d_\-]+" required>
            <small class="form-text text-muted" id="mnt_name_BHelp">Mount name</small>
      </div>
      </div>
      <div class="form-group row"> <label for="rtcm_msg_B" class="col-sm-3 col-form-label">Rtcm消息： </label> <div class="col-sm-9"> <input id="rtcm_msg_B" type="text" name="rtcm_msg_B" class="form-control" aria-describedby="rtcm_msg_BHelp" placeholder="1004,1005(10),1006,1008(10),1012,1019,1020,1033(10),1042,1045,1046,1077,1087,1097,1107,1127,1230" value="{{ ntrip_B_settings[4].rtcm_msg_B }}" pattern="[0-9,\(\).]+" required>
            <small class="form-text text-muted" id="rtcm_msg_BHelp">Rtcm消息列表： msg （以秒为单位的间隔）、msg （以秒为单位的间隔）、...</small> </div>
      </div>
      <div class="form-group row"> <label for="ntrip_B_receiver_options" class="col-sm-3 col-form-label">接收器选项： </label> <div class="col-sm-9"> <small class="form-text text-muted" id="ntrip_B_receiver_optionsHelp">依赖于接收器的选项，例如U-Blox F9P的-TADJ = 1 </small>

           <input id="ntrip_B_receiver_options" type="text" name="ntrip_B_receiver_options" class="form-control" aria-describedby="ntrip_B_receiver_optionsHelp" value="{{ ntrip_B_settings[5].ntrip_B_receiver_options }}" pattern="[^\|><\/]*"> </div>
      </div>      

        <div class="clearfix"> <button type="submit" class="btn btn-primary float-right" disabled>保存</button> </div>
    </form>

  <!-- ######## Local Ntrip Caster Service ########-->
  <div id="local_ntripc_service_space" class="form-group row">
    <div class="col"> <label for="ntripc-switch" class="col-4 col-form-label col-form-label-lg">Ntrip Caster服务</label>
    <input id="ntripc-switch" type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="outline-secondary">
    <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#{{ local_ntripc_settings[0].source_section }}" aria-expanded="false" aria-controls="local_ntripc_service_options">选项</button>
    <a role="button" data-toggle="tooltip" title="此服务可直接在您的基站内启用本地Ntrip caster。 如果您不能或不想使用其他caster，这将非常有用。 如果要连接到本地网络外部的脚轮，请确保路由器配置正确。"> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#6c757d" class="bi bi-info-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
      </svg>
    </a>
   </div>
  </div>
    <form id="{{ local_ntripc_settings.pop(0).source_section }}" class="collapse was-validated">
      <div class="form-group row">
        <label for="local_ntripc_user" class="col-sm-3 col-form-label">本地 caster 用户名: </label>
        <div class="col-sm-9"> <small class="form-text text-muted" id="local_ntripc_userHelp">您将在移动站中用于连接的本地 Ntrip caster 的用户名 </small>

           <input id="local_ntripc_user" type="text" name="local_ntripc_user" class="form-control" aria-describedby="local_ntripc_userHelp" placeholder="选择您的用户名" value="{{ local_ntripc_settings[0].local_ntripc_user }}" pattern="\w+[^\|><\s]*"> </div>
      </div>
      <div class="form-group row">
        <label for="local_ntripc_pwd" class="col-sm-3 col-form-label">本地 caster 密码: </label>
        <div class="col-sm-9">
          <div class="input-group">
            <input id="local_ntripc_pwd" type="password" name="local_ntripc_pwd" class="form-control" aria-describedby="local_ntripc_pwdHelp" placeholder="输入密码" value="{{ local_ntripc_settings[1].local_ntripc_pwd }}" pattern="\w+[^\|><\s]*">
              <span class="input-group-append">
                <button class="btn btn-outline-secondary" id="local_ntripc_pwd_button" type="button">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                    <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/>
                    <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"/>
                    <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z"/>
                  </svg>
                </button>
              </span>
            </div>
            <small class="form-text text-muted" id="local_ntripc_pwdHelp">您将在移动站中用于连接的本地 Ntrip caster 的密码</small>
      </div>
      </div>
      <div class="form-group row">
        <label for="local_ntripc_port" class="col-sm-3 col-form-label">本地 caster 端口: </label>
        <div class="col-sm-9"> <input id="local_ntripc_port" type="text" name="local_ntripc_port" class="form-control" aria-describedby="local_ntripc_portHelp" placeholder="2101" value="{{ local_ntripc_settings[2].local_ntripc_port }}" pattern="[0-9]{4,5}" required>
            <small class="form-text text-muted" id="local_ntripc_portHelp">本地Ntrip caster 端口号，例如2101</small> </div>
      </div>
      <div class="form-group row"> <label for="local_ntripc_mnt_name" class="col-sm-3 col-form-label">本地caster 安装名称： </label> <div class="col-sm-9">
            <input id="local_ntripc_mnt_name" type="text" name="local_ntripc_mnt_name" class="form-control" aria-describedby="local_ntripc_mnt_nameHelp" value="{{ local_ntripc_settings[3].local_ntripc_mnt_name }}" pattern="[a-zA-Z\d_\-]+" required>
            <small class="form-text text-muted" id="local_ntripc_mnt_nameHelp">您将在移动站中用于连接的本地 Ntrip caster 的用户名</small>
      </div>
      </div>
      <div class="form-group row"> <label for="local_ntripc_msg" class="col-sm-3 col-form-label">本地 caster  rtcm消息： </label> <div class="col-sm-9"> <input id="local_ntripc_msg" type="text" name="local_ntripc_msg" class="form-control" aria-describedby="local_ntripc_msgHelp" placeholder="1005(10),1019,1020,1042,1044,1046,1074,1077,1084,1087,1094,1097,1114,1117,1124,1127" value="{{ local_ntripc_settings[4].local_ntripc_msg }}" pattern="[0-9,\(\).]+" required>
            <small class="form-text text-muted" id="local_ntripc_msgHelp">Rtcm消息列表： msg （以秒为单位的间隔）、msg （以秒为单位的间隔）、...</small> </div>
      </div>
      <div class="form-group row"> <label for="local_ntripc_receiver_options" class="col-sm-3 col-form-label">本地 caster 接收器选项： </label> <div class="col-sm-9"> <small class="form-text text-muted" id="local_ntripc_receiver_optionsHelp">依赖于接收器的选项，例如U-Blox F9P的-TADJ = 1 </small>

           <input id="local_ntripc_receiver_options" type="text" name="local_ntripc_receiver_options" class="form-control" aria-describedby="local_ntripc_receiver_optionsHelp" value="{{ local_ntripc_settings[5].local_ntripc_receiver_options }}" pattern="[^\|><\/]*"> </div>
      </div>      

        <div class="clearfix"> <button type="submit" class="btn btn-primary float-right" disabled>保存</button> </div>
    </form>

  <!-- ######## RTCM Tcp Server Service ########-->
  <div id="rtcm_svr_service_space" class="form-group row">
    <div class="col"> <label for="rtcm_svr-switch" class="col-4 col-form-label col-form-label-lg">Rtcm tcp服务</label>
    <input id="rtcm_svr-switch" type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="outline-secondary">
    <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#{{ rtcm_svr_settings[0].source_section }}" aria-expanded="false" aria-controls="rtcm_svr_service_options">选项</button>
    <a role="button" data-toggle="tooltip" title="启用此服务后，您可以在网络上发送rtcm流。"> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#6c757d" class="bi bi-info-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
      </svg>
    </a>
    </div>
  </div>
    <form id="{{ rtcm_svr_settings.pop(0).source_section }}" class="collapse was-validated">
      <div class="form-group row"> <label for="rtcm_svr_port" class="col-sm-3 col-form-label">Rtcm服务器端口： </label> <div class="col-sm-9"> <input id="rtcm_svr_port" type="text" name="rtcm_svr_port" class="form-control" aria-describedby="rtcm_svr_portHelp" placeholder="5016" value="{{ rtcm_svr_settings[0].rtcm_svr_port }}" pattern="[0-9]{4,5}" required>
            <small class="form-text text-muted" id="rtcm_svr_portHelp">Rtcm服务器端口</small> </div>
      </div>
      <div class="form-group row"> <label for="rtcm_svr_msg" class="col-sm-3 col-form-label">Rtcm服务器消息： </label> <div class="col-sm-9"> <input id="rtcm_svr_msg" type="text" name="rtcm_svr_msg" class="form-control" aria-describedby="rtcm_svr_msgHelp" placeholder="1004,1005(10),1006,1008(10),1012,1019,1020,1033(10),1042,1045,1046,1077,1087,1097,1107,1127,1230" value="{{ rtcm_svr_settings[1].rtcm_svr_msg }}" pattern="[0-9,\(\).]+" required>
            <small class="form-text text-muted" id="rtcm_svr_msgHelp">Rtcm消息列表： msg （以秒为单位的间隔）、msg （以秒为单位的间隔）、...</small> </div>
      </div>
      <div class="form-group row"> <label for="rtcm_receiver_options" class="col-sm-3 col-form-label">接收器选项： </label> <div class="col-sm-9"> <small class="form-text text-muted" id="rtcm_receiver_optionsHelp">依赖于接收器的选项，例如U-Blox F9P的-TADJ = 1 </small>

           <input id="rtcm_receiver_options" type="text" name="rtcm_receiver_options" class="form-control" aria-describedby="rtcm_receiver_optionsHelp" value="{{ rtcm_svr_settings[2].rtcm_receiver_options }}" pattern="[^\|><\/]*"> </div>
      </div>
        
        <div class="clearfix"> <button type="submit" class="btn btn-primary float-right" disabled>保存</button> </div>
    </form>

    <!-- ######## RTCM Serial Service ########-->
  <div id="rtcm_serial_service_space" class="form-group row">
    <div class="col"> <label for="rtcm_serial-switch" class="col-4 col-form-label col-form-label-lg">Rtcm串行服务</label>
    <input id="rtcm_serial-switch" type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="outline-secondary">
    <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#{{ rtcm_serial_settings[0].source_section }}" aria-expanded="false" aria-controls="rtcm_serial_service_options">选项</button>
    <a role="button" data-toggle="tooltip" title="此服务启用后，可以将rtcm流发送到串行输出。 常见的用途是使用串行到无线电适配器。"> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#6c757d" class="bi bi-info-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
      </svg>
    </a>
    </div>
  </div>
    <form id="{{ rtcm_serial_settings.pop(0).source_section }}" class="collapse was-validated">
      <div class="form-group row"> <label for="out_com_port" class="col-sm-3 col-form-label">串行输出端口： </label> <div class="col-sm-9"> <input id="out_com_port" type="text" name="out_com_port" class="form-control" aria-describedby="out_com_portHelp" placeholder="ttyS1" value="{{ rtcm_serial_settings[0].out_com_port }}" pattern="\w+[^\|&gt;&lt;\/\s]*" required>
            <small class="form-text text-muted" id="out_com_portHelp">串行输出com端口（不带/dev/）</small> </div>
      </div>
      <div class="form-group row"> <label for="out_com_port_settings" class="col-sm-3 col-form-label">串行输出端口设置： </label> <div class="col-sm-9"> <input id="out_com_port_settings" type="text" name="out_com_port_settings" class="form-control" aria-describedby="out_com_port_settingsHelp" placeholder="115200:8:n:1" value="{{ rtcm_serial_settings[1].out_com_port_settings }}" pattern="\w[^\|&gt;&lt;\/\s]*" required>
            <small class="form-text text-muted" id="out_com_port_settingsHelp">串行输出端口设置： '波特率': '数据位': '奇偶校验': '停止位'</small> </div>
      </div>
      <div class="form-group row"> <label for="rtcm_serial_msg" class="col-sm-3 col-form-label">串行Rtcm消息： </label> <div class="col-sm-9"> <input id="rtcm_serial_msg" type="text" name="rtcm_serial_msg" class="form-control" aria-describedby="rtcm_serial_receiver_optionsHelp" placeholder="1004,1005(10),1006,1008(10),1012,1019,1020,1033(10),1042,1045,1046,1077,1087,1097,1107,1127,1230" value="{{ rtcm_serial_settings[2].rtcm_serial_msg }}" pattern="[0-9,\(\).]+" required>
            <small class="form-text text-muted" id="rtcm_serial_msgHelp">Rtcm消息列表： msg （以秒为单位的间隔）、msg （以秒为单位的间隔）、...</small> </div>
      </div>
      <div class="form-group row"> <label for="rtcm_serial_receiver_options" class="col-sm-3 col-form-label">接收器选项： </label> <div class="col-sm-9"> <small class="form-text text-muted" id="rtcm_serial_receiver_optionsHelp">与接收器相关的选项。即： -TADJ = 1 （适用于U-Blox F9P ） </small>

           <input id="rtcm_serial_receiver_options" type="text" name="rtcm_serial_receiver_options" class="form-control" aria-describedby="rtcm_serial_receiver_optionsHelp" value="{{ rtcm_serial_settings[3].rtcm_serial_receiver_options }}" pattern="[^\|><\/]*"> </div>
      </div>
        
        <div class="clearfix"> <button type="submit" class="btn btn-primary float-right" disabled>保存</button> </div>
    </form>

  <!-- ######## File Service ########-->
  <div id="file_service_space" class="form-group row">
      <div class="col"> <label for="file-switch" class="col-4 col-form-label col-form-label-lg">文件服务</label>
    <input id="file-switch" type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="outline-secondary">
    <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#{{ file_settings[0].source_section }}" aria-expanded="false" aria-controls="file_service_options">选项</button>
    <a data-toggle="tooltip" id="file_service_tooltip" title="启用后，此服务会将来自GNSS接收器的原始数据存储到文件中。 当您想要对数据进行后期处理时，它非常有用。"> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#6c757d" class="bi bi-info-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
      </svg>
    </a>
  </div>
  </div>
    <form id="{{ file_settings.pop(0).source_section }}" class="collapse was-validated">
      <div class="form-group row"> <label for="datadir" class="col-sm-3 col-form-label">数据目录： </label> <div class="col-sm-9"> <small class="form-text text-muted" id="datadirHelp">数据存储目录的绝对路径 </small>

           <input id="datadir" type="text" name="datadir" class="form-control" aria-describedby="datadirHelp" placeholder="/home/basegnss/rtkbase/data" value="{{ file_settings[0].datadir }}" pattern=".+[^\|\s]" required> </div>
      </div>
      <div class="form-group row"> <label for="file_name" class="col-sm-3 col-form-label">文件名： </label> <div class="col-sm-9"> <input id="file_name" type="text" name="file_name" class="form-control" aria-describedby="file_nameHelp" placeholder="%Y-%m-%d_%h-%M-%S_GNSS-1" value="{{ file_settings[1].file_name }}" pattern="%Y-%m-%d_%h-%M-%S[^\|&gt;&lt;\s]*" required>
            <small class="form-text text-muted" id="file_nameHelp">数据文件名构造（应以% Y- % m- %d_%h - % M-开头%S）</small> </div>
      </div>
      <div class="form-group row"> <label for="file_rotate_time" class="col-sm-3 col-form-label">文件转换： </label> <div class="col-sm-9"> <input id="file_rotate_time" type="text" name="file_rotate_time" class="form-control" aria-describedby="file_rotate_timeHelp" placeholder="24" value="{{ file_settings[2].file_rotate_time }}" pattern="\d+\.?\d*" required>
            <small class="form-text text-muted" id="file_rotate_timeHelp">文件转换时间（小时）</small> </div>
      </div>
      <div class="form-group row"> <label for="file_overlap_time" class="col-sm-3 col-form-label">文件覆盖： </label> <div class="col-sm-9"> <input id="file_overlap_time" type="text" name="file_overlap_time" class="form-control" aria-describedby="file_overlap_timeHelp" placeholder="0" value="{{ file_settings[3].file_overlap_time }}" pattern="\d+" required>
            <small class="form-text text-muted" id="file_overlap_timeHelp">文件转换时间（小时）</small> </div>
      </div>
      <div class="form-group row"> <label for="archive_rotate" class="col-sm-3 col-form-label">存档持续时间： </label> <div class="col-sm-9"> <small class="form-text text-muted" id="archive_rotateHelp">将删除早于此值的存档（以天为单位） </small>

           <input id="archive_rotate" type="text" name="archive_rotate" class="form-control" aria-describedby="archive_rotateHelp" placeholder="60" value="{{ file_settings[4].archive_rotate }}" pattern="\d+" required> </div>
      </div>
        <div class="clearfix"> <button type="submit" class="btn btn-primary float-right" disabled>保存</button> </div>
    </form>
</div>
<div id="system_settings" class="container">
    <h4>系统设置</h4>
    <div class="row py-2 align-items-center">
        <div class="col-sm-4">
            <span class="col-sm-3">Rtkbase {{ g.version }}</span>
        </div>
        <div class="col-sm-8"> <button id="check_update_button" class="btn btn-secondary" type="button">检查更新</button> </div>
    </div>

    <div class="row py-2">
      <div class="col-sm-4"> <span class="col-sm-3">更改密码：</span> </div>
      <div class="col-sm-8"> 
        <form id="change_password">  
          <!--
          <div class="form-group row">
            <label for="cur_pwd" class="col-sm-3 col-form-label">Current: </label>
            <div class="col-sm-9">
                <input id="cur_pwd" type="password" name="cur_pwd" class="form-control" title="current password" required>
                <div class="invalid-feedback">Current password</div>
            </div>
          </div>
          -->      
          <div class="form-group row">
            <label for="new_password" class="col-sm-3 col-form-label">新密码: </label>
            <div class="col-sm-9">
                <input id="new_password" type="password" name="new_password" class="form-control" title="new password" required>
                <div class="invalid-feedback">新密码</div>
            </div>
          </div>
          <div class="form-group row"> <label for="confirm_password" class="col-sm-3 col-form-label">确认： </label> <div class="col-sm-9">
                <input id="confirm_password" type="password" name="confirm_password" class="form-control" title="confirm password" required>
                <div class="invalid-feedback">确认密码</div>
            </div>
          </div>
          <div class="clearfix"> <button type="submit" class="btn btn-primary float-right" disabled>更改密码：</button> </div>
        </form>
      </div>
    </div>

  <div class="row py-2 align-items-center">
    <div class="col-sm-4"> <span class="col-sm-3">Gnss接收器：</span> </div>
    <div class="col-sm-8">
      <span>{{ main_settings[3].receiver }} - {{ main_settings[4].receiver_firmware }}
        {% if 'septentrio' in main_settings[3].receiver.lower() %}
         - <a href="{{ main_settings[10] }}"><button id="ext_web_site" class="btn btn-secondary" type="button">Mosaic Web server</button></a>
        {% endif %}
      </span>
    </div>
  </div>

  <div class="row py-2 align-items-center">
    <div class="col-sm-4">
      <span class="col-sm-3">Board:</span>
    </div>
    <div class="col-sm-8">
      <span>{{ g.sbc_model }}</span>
    </div>
  </div>

  <div class="row py-2 align-items-center">
    <div class="col-sm-4">
      <span class="col-sm-3">Os:</span>
    </div>
    <div class="col-sm-8">
      <span>{{ os_infos.id.capitalize() }} {{ os_infos.version }} ({{ os_infos.codename.capitalize() }})</span>
    </div>
  </div>

  <div class="row py-2 align-items-center">
    <div class="col-sm-4">
      <span class="col-sm-3">CPU 温度:</span>
    </div>
    <div class="col-sm-8"> <span id="cpu_temperature">- C °</span>
      <span>- （最高纪录： </span>
      <span id="max_cpu_temperature">- C ° ）</span> </div>
  </div>

  <div class="row py-2 align-items-center">
    <div class="col-sm-4"> <span class="col-sm-3">正常运行时间：</span> </div>
    <div class="col-sm-8">
      <span id="uptime"></span>
    </div>
  </div>

  <div class="row py-2 align-items-center">
    <div class="col-sm-4"> <span class="col-sm-3">储存：</span> </div>
    <div class="col-sm-8"> <span id="vol_space_used"></span>
      <span>可用 </span>
      <span id="vol_space_max"></span>
      <span>- (</span><span id="vol_space_free"></span>
      <span>已使用% ）</span> </div>
  </div>

  <div class="row py-2 align-items-center">
    <div class="col-sm-4"> <span class="col-sm-3">设置：</span> </div>
    <div class="col-sm-8"> <button id="backup-button" class="btn btn-secondary" type="button">备份</button>
        <button id="restore-button" class="btn btn-secondary" type="button" data-toggle="modal" data-target="#restoreSettingsModal">恢复</button>
        <button id="reset-button" class="btn btn-secondary" type="button" data-toggle="modal" data-target="#resetModal">重置</button> </div>
  </div>

  <div class="row py-2 align-items-center">
    <div class="col-sm-4"><span class="col-sm-3">诊断检查</span></div>
    <div class="col-sm-8"> <a href="{{ url_for('diagnostic') }}" target="_blank" class="btn btn-secondary" role="button">查看</a>
        <!--<button id="download-diag-button" class="btn btn-secondary" type="button" disabled>Download</button>--> </div>
  </div>

    <div class="row py-2 align-items-center">
      <div class="col-sm-4"> <span class="col-sm-3">电源：</span> </div>
      <div class="col-sm-8"> <button id="reboot-button" class="btn btn-secondary" type="button">重启</button>
          <button id="shutdown-button" class="btn btn-secondary" type="button">关机</button> </div>
  </div>
    
</div>

<!-- The Detect/configure Gnss receiver Modal dialog box-->
<div class="modal" id="detectModal" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">GNSS接收器检测/配置</h4>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <!-- <p id="gnss-detection" class="text-center" hidden><span class="spinner-border spinner-border-sm"></span> Detecting GNSS receiver...'</p> -->
          <p class="text-center"></p>
        </div>       
        <!-- Modal footer -->
        <div class="modal-footer mx-auto"> <button id="apply-button" type="button" class="btn btn-success" disabled>应用</button>          
          <button id="cancel-button" type="button" class="btn btn-primary" data-dismiss="modal">取消</button> </div>
    </div>
  </div>
</div>

<!-- The update Modal dialog box-->
<div class="modal" id="updateModal" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">     
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">更新</h4>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>       
        <!-- Modal body -->
        <div class="modal-body">          
        </div>       
        <!-- Modal footer -->
        <div class="modal-footer mx-auto"> <button id="start-update-button" type="button" class="btn btn-success" disabled>更新</button>
          <button id="cancel-button" type="button" class="btn btn-primary" data-dismiss="modal">取消</button> </div>      
      </div>
    </div>
  </div>

  <!-- The Paswword is changed Modal dialog box-->
<div class="modal" id="passwordChangedModal">
  <div class="modal-dialog">
    <div class="modal-content">     
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">密码修改</h4>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>       
      <!-- Modal body -->
      <div class="modal-body text-center ">密码已成功更新
 </div>       
      <!-- Modal footer -->
      <div class="modal-footer mx-auto"> <a href="{{ url_for('logout') }}" class="btn btn-success" role="button">退出</a> </div>      
    </div>
  </div>
</div>

  <!-- The restore settings Modal dialog box-->
  <div class="modal" id="restoreSettingsModal" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">     
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">还原保存的设置</h4>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>       
        <!-- Modal body -->
        <div class="modal-body text-center ">
          <p>使用以前保存的设置还原RTKBase。</p>
          <form id="restore-form" method="POST" action="settings" enctype="multipart/form-data">
            <p><input type="file" name="file">
              <!--<input type="submit" class="btn btn-danger" role="button" value="Restore">-->
            </p><p id="restoration_server_answer"></p>
        </form>
        </div>       
        <!-- Modal footer -->
        <div class="modal-footer mx-auto"> <a href="{{ url_for('logout') }}" id="restore-logout-button" class="btn btn-success" role="button" style="display: none;">登出</a>
          <!--<button id="restore-logout-button" type="button" class="btn btn-success" style="display: none;">Logout</button> -->
          <button id="restore-settings-button" type="button" class="btn btn-danger" disabled>还原设置</button>
          <button type="button" id="restore-cancel-button" class="btn btn-primary" data-dismiss="modal">取消</button> </div>      
      </div>
    </div>
  </div>

<!-- The Reset settings Modal dialog box-->
<div class="modal" id="resetModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">重置设置</h4>
      </div>
      <!-- Modal body -->
      <div class="modal-body text-center ">
        <p>将RTKBase重置为默认设置（包括密码）。 您将被重定向到登录页面。</p>
        <p>您确定吗？</p>          
      </div>
      <!-- Modal footer -->
      <div class="modal-footer mx-auto"> <button id="confirm-reset-button" type="button" class="btn btn-danger">重置</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button> </div>     
    </div>
  </div>
</div>

  <!-- The reboot Modal dialog box-->
<div class="modal" id="rebootModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">重新启动</h4>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body text-center ">重新启动GNSS Base。 你确定吗?</div>
      <!-- Modal footer -->
      <div class="modal-footer mx-auto"> <button id="confirm-reboot-button" type="button" class="btn btn-danger">重启</button>
        <button id="reboot-cancel-button" type="button" class="btn btn-primary" data-dismiss="modal">取消</button> </div>     
    </div>
  </div>
</div>

<!-- The shutdown Modal dialog box-->
<div class="modal" id="shutdownModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">关闭设备</h4>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body text-center ">关闭GNSS基站。 你确定吗?</div>
      <!-- Modal footer -->
      <div class="modal-footer mx-auto"> <button id="confirm-shutdown-button" type="button" class="btn btn-danger">关机</button>
        <button id="shutdown-cancel-button" type="button" class="btn btn-primary" data-dismiss="modal">取消</button> </div>     
    </div>
  </div>
</div>

{% endblock %}


{% block scripts %}
{{super()}}
<script type="text/javascript" src="{{ url_for('static', filename='lib/bootstrap4-toggle.js') }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for('static', filename='settings.js', v=g.version) }}" charset="utf-8"></script>
{% endblock %}